<%= form_for @task, remote: true do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p><%= f.label :title %></p>
    <P><%= f.text_field :title %></p>
  </div>
  <div class="field">
    <p><%= f.label :description %></p>
    <p><%= f.text_area :description %></p>
  </div>
  <div class="field">
    <p><%= f.label :due_on %></p>
    <p><%= f.date_field :due_on %></p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
