<%= form_for task, remote: true, data: { id: task.id } do |f| %>
<a href="javascript:void(0)" class="flex-box">
  <%= f.check_box :complete %>
  <%= f.submit "Complete" %>
  <h1 class="flex-title"><%= task.title %></h1>
  <p><%= truncate task.description, length: 50 %></p>
  <%= link_to "(╯°□°）╯︵ ┻━┻", task, method: :delete, data: { confirm: "Are you sure?" }, remote: true %>
</a>
<% end %>
