<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <% if @task.description!=nil %>
  <strong>Description:</strong>
  <%= @task.description %>
  <% end %>
</p>

<p>
  <% if @task.due_on!=nil %>
  <strong>Due on:</strong>
  <%= @task.due_on %>
  <% end %>
</p>

<p>
  <strong>Completed?</strong>
  <%= @task.complete %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
